.product-card{
    display: flex;
    padding: 1rem;
    border-radius:4px;
    border: 1px solid gray;
}

.product-card > img{
    width: 400px;
    height: 400px;
    border-radius: 4px;
}

.product-card-info{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.product-info-title{
    text-align: center;
}
.product-info-description{
    text-align: center;
    width:50%;
}
.product-info-price{
    font-weight: 700;
}

.product-card-actions{
    display: flex;
}

.product-card-actions > svg{
    padding: 0 0.5rem;
    cursor:pointer;
}


.product-card-actions #edit{
    background-color: #0F52BA;
    padding: 0.3rem;
    color: white;
    border-radius: 4px;
    margin-right: 0.2rem;
}

.product-card-actions #delete{
    background-color: #DF2E2E;
    padding: 0.3rem;
    color: white;
    border-radius: 4px;
}
.product-card-actions #edit:hover,
.product-card-actions #delete:hover{
    color: #ffffffa8;
}

@media (max-width: 768px) {
    .product-card{
        flex-direction: column;
        align-items: center;
    }
    .product-card > img{
        max-width: 100px;
        max-height: 100px;
    }
    .product-info-title{
        font-size: 1rem;
    }
}